<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Netra Dashboard</title>
</head>
<body>
    <h2>Create DU here</h2>
    <form method="post">
        {% csrf_token %}
        <label for="multus_f1_int">multus f1_int:</label><br>
        <input type="text" id="multus_f1_int" name="multus_f1_int" placeholder="f1 Interface"><br>

        <label for="multus_f1_netmask">multus f1 netmask:</label><br>
        <input type="text" id="multus_f1_netmask" name="multus_f1_netmask" placeholder="f1 netmask"><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>