<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Netra Dashboard</title>
</head>
<body>
    <h2>Create UE here</h2>
    <form method="post">
        {% csrf_token %}
        <label for="multus_ip">IP address :</label><br>
        <input type="text" id="multus_ip" name="multus_ip" placeholder="for UE"><br>

        <label for="multus_netmask">Netmask :</label><br>
        <input type="text" id="multus_netmask" name="multus_netmask" placeholder="for UE"><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>