<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Open Netra Dashboard</title>
</head>
<body>
    <div class="w3-container">
        <div class="w3-bar w3-border w3-light-grey">
          <div class="w3-bar-item"><a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a></div>
          <div class="w3-bar-item"><a href="{% url 'upc' %}" class="btn btn-primary">User Plan Config</a></div>
          <div class="w3-bar-item"><a href="{% url 'rmg' %}" class="btn btn-primary">RAN Metric Graph</a></div>
          <div class="w3-bar-item"><a href="{% url 'logout' %}" class="btn btn-primary">Logout</a></div>
        </div>
      </div>
      <a href="{% url 'single-cu' %}" class="btn btn-primary">Single CU Config</a>
      <a href="{% url 'single-du' %}" class="btn btn-primary">Single DU Config</a>
      <a href="{% url 'single-ue' %}" class="btn btn-primary">Single UE Config</a><br>
      <a href="{% url 'multignb-cu' %}" class="btn btn-primary">Multi-GNB CU Config</a>
      <a href="{% url 'multignb-du1' %}" class="btn btn-primary">Multi-GNB DU1 Config</a>
      <a href="{% url 'multignb-du2' %}" class="btn btn-primary">Multi-GNB DU2 Config</a>
      <a href="{% url 'multignb-ue' %}" class="btn btn-primary">Multi-GNB UE Config</a><br>
      <a href="{% url 'multiue-cu' %}" class="btn btn-primary">Multi-UE CU Config</a>
      <a href="{% url 'multiue-du' %}" class="btn btn-primary">Multi-UE DU Config</a>
      <a href="{% url 'multiue-ue1' %}" class="btn btn-primary">Multi-UE UE1 Config</a>
      <a href="{% url 'multiue-ue2' %}" class="btn btn-primary">Multi-UE UE2 Config</a>

</body>
</html>