<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <title>Open Netra Dashboard</title>
  </head>
  <body>
    <div class="w3-container">
      <div class="w3-bar w3-border w3-light-grey">
        <div class="w3-bar-item"><a href="{% url 'introduction' %}" class="btn btn-primary">Introduction</a></div>
        <div class="w3-bar-item"><a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a></div>
        <div class="w3-bar-item"><a href="{% url 'monitoring' %}" class="btn btn-primary">Monitoring</a></div>
        <div class="w3-bar-item"><a href="{% url 'logout' %}" class="btn btn-primary">Logout</a></div>
      </div>
    </div>
    <h1>Welcome to Open Netra</h1>
    <h2>About TIP</h2>
    <h2>About Open Netra</h2>
  </body>
</html>