<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <title>Open Netra Dashboard</title>
  </head>
  <body>
    <div class="w3-container">
      <div class="w3-bar w3-border w3-light-grey">
        <div class="w3-bar-item"><a href="{% url 'introduction' %}" class="btn btn-primary">Introduction</a></div>
        <div class="w3-bar-item"><a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a></div>
        <div class="w3-bar-item"><a href="{% url 'user-management' %}" class="btn btn-primary">User Management</a></div>
        <div class="w3-bar-item"><a href="{% url 'monitoring' %}" class="btn btn-primary">Monitoring</a></div>
        <div class="w3-bar-item"><a href="{% url 'logout' %}" class="btn btn-primary">Logout</a></div>
      </div>
    </div>
    <h1>User List</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Level</th>
            <th>Completion</th>
            <th>Actions</th>
            <!-- Add more columns as needed -->
        </tr>
        {% for entry in user_data %}
        <tr>
            <td>{{ entry.user.username }}</td>
            <td>{{ entry.level }}</td>
            <td>Sekian Persen</td>
            <td>
                <a href="{% url 'update-user' entry.user.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete-user' entry.user.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <a href="{% url 'create-user' %}" class="btn btn-primary">Create New User</a>
  </body>
</html>